<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tester.boarddelete.mapper.BoardDeleteMapper">
    <delete id="deleteBoard" parameterType="long">
        DELETE FROM board_table WHERE board_id = #{boardId}
    </delete>

</mapper>